.btn {
padding: 13px 42px;
border: none;
outline: none;
background-color: #cb0e17;
box-shadow: 0 0 5px rgba(1, 1, 1, 0.75), inset 0 0 5px rgba(255, 255, 255, 0.36);
color: #ffffff;
font-size: 15px;
font-weight: 400;
text-transform: uppercase;
}   