.intro {
    position: relative;
    // background-color: #000;
    background-image: url('../img/intro-bg-joint1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 50px);
    padding: 30px 0 57px;

}
// #intro-heading
.intro__heading {
    margin-bottom: 68px;

     @media screen and (max-width: 1600px) {
        margin-bottom: 34px;
    }
}
.intro__contact {
    text-align: right;
}
.logo {
    display: block;

    @media screen and (max-width: 1600px) {
        height: 80%;
    }
}

.intro_lang__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-bottom: 39px;
}

.intro_lang__list {
    @extend .intro_lang__nav;
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.intro_lang__item {
    margin-right: 22px;

    &:last-child {
        margin-right: 0;
    }
}

.intro_lang__link {
    /* Style for "En     Ru" */
color: #cccccc;
font-size: 1.125rem;
font-weight: 300;

&--active {
color: #ffffff;
font-weight: 700;
}

}

.intro__contact_title{
color: #fff;
font-size: 1.563rem;
font-weight: 400;
text-transform: uppercase;
padding: 0;
margin-bottom: 15px;

  @media screen and (max-width: 1600px) {
        margin-bottom: 5px;
    }

}

address a {
color: #cb0e17;
font-weight: 400;
font-style: normal;
}

.intro__contact_phone {
    font-size: 2.188rem;
}
.intro__contact_email {
    font-size: 1.25rem;
    padding-bottom: 20px;
}
// #endintro-heading

// intro_description
.intro__descr {
    margin-bottom: 112px;

     @media screen and (max-width: 1600px) {
        margin-bottom: calc(112px / 2);
    }
}
.intro__descr_text {
    color: #cb0e16;
    font-size: 1.375rem;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 500px;
    margin-bottom: 10px;
      @media screen and (max-width: 1600px) {
        margin-bottom: 5px;
        }

    span {
        display: block;
        color: #cb0e17;
        font-size: 1.438rem;
        font-weight: 300;
        margin-top: 10px;
    }
}

.intro__descr_title {
color: #cb0e16;
font-size: 3.125rem;
font-weight: 700;
text-transform: uppercase;
}
// endintro_description

//intro__achievments
.intro__achievments_item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 27px;
      @media screen and (max-width: 1600px) {
        margin-bottom: 15px;
        }
    position: relative;
    overflow: visible;
    
}
.intro__achievments_img {
    display: block;
    margin-bottom: 15px;
}

.intro__achievments_text {
color: #000000;
font-size: 1.125rem;
font-weight: 400;
line-height: 20px;
text-align: center;
width: 100%;
margin: 0;
padding: 0;
max-width: 257px;
}
//endintro__achievments

